
body {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1.42;
  background: #001821;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {color: inherit;}

a { text-decoration: none;}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

.wrapper--bg {
  background: url('/img/elephant.jpg') top center, url('/img/human.jpg') bottom 190px right;
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}
 
.header {
 height: 123px; 
 position: relative;
 margin-bottom: 65px;
}

.logo {
  display: block;
  position: absolute;
  top: 23px;
  left: 0px;
}

.menu {
  position: absolute;
  top: 34px;
  left: 165px;
}

.contacts {
  position: absolute;
  top: 21px;
  right: 0px;
  font-style: normal;
  text-align: right;
}

.menu__item {
display: inline-block;
vertical-align: middle;
margin-right: 50px;
}

.contacts__dropdown-title--active {
  text-decoration-line: line-through;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 14px;
  text-decoration: none;
}
.contacts__phone {
  text-decoration: none;
  font-size: 26px;
}
.contacts__dropdown-title {
  font-size: 13px;
  text-decoration: none;
  margin-top: -8px;
}

.hero__text-section {
  width: 511px;
  margin-bottom: 244px;
}

.hero__title {
  font-size: 72px;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 23px;
}

.hero__subtitle {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn {
  background: #F5170E;
  border-radius: 34px;
  padding: 18px 40px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}

.btn:hover {
  background-color: #7e0d0d;
}


.btn--transparent {
  background: #fff;
  color: red;
  border-radius: 34px;
  padding: 18px 29px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border: 1px solid red;
}

.btn__red {
  background: #F5170E;
  color: #fff;
  border-radius: 34px;
  padding: 18px 29px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}

.btn__red:hover {
  background-color: #7e0d0d;
}

.tours {
  margin-bottom: 124px;
}

.tours__desc {
  margin-bottom: 24px;
}

.tours__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 51px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
}

.tours__item {
  min-height: 449px; 
  display: inline-block;
  margin-right: 22px;
  width: 362px;
  background: #fff;
  color: black;
  border-radius: 5px;
}

.tours__item:last-child {
  margin-right: 0;
}

.tours__header {
  min-height: 144px;
  }

  .tours__img {
    border-radius: 5px;
    overflow: hidden;
  }
  
  .tours__content {
    padding: 24px 22px;
  }

  .tours__name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
  }

.tours__desc-block {
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
}
.tours__desc-block:last-child {
  margin-right: 0;
}

.tours__desc-img {
  margin-right: 7px;
  vertical-align: middle;
}

.tours__desc-name {
font-size: 16px;
display: inline-block;
}

.tours__about {
  font-size: 14px;
  margin-bottom: 24px;
}

.news__item {
  width: 557px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 23px;
}

.news__item:last-child {
  margin-right: 0;
}

.news__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 51px;
}


.news__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__desc {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px 31px;
  min-height: 163px;
}

.news__date {
  font-size: 14px;
  margin-bottom: 14px;
}

.news__name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 2px;
}

.news__list {
  margin-bottom: 53px;
}

.paginator {
  text-align: center;
}

.paginator__title, .paginator__list {
  display: inline-block;
  vertical-align: middle;
}

.paginator__title {
  margin-right: 24px;
}

.paginator__item {
  display: inline-block;
}

.paginator__item--active .paginator__link {
  background: #fff;
  color: red;
}

.paginator__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
}

.about {
  padding: 147px 0 45px 0;
}

.about__content {
  display: inline-block;
  border-radius: 5px;
  max-width: 793px;
  background-image: url("/img/mountains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 69px 202px 65px 89px;
  margin-left: -148px;
  vertical-align: top;
  margin-top: 97px;
 }

 .about__title {
  margin-bottom: 37px;
  font-size: 36px;
  font-weight: bold;
 }

 .about__desc {
  margin-bottom: 42px;
  font-size: 16px;
  line-height: 27px;
  color: #060606;
 }

 .about__conteiner::before {
  content: '';
  display: inline-block;
  width: 490px;
  height: 505px;
  background-image: url('/img/gates.jpg');
  border-radius: 5px;
  margin-bottom: 53px;
 }

 .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
 }

 .about__title--color--black {
  color: #000;
 }


.footer-container__content {
  border-top: 1px solid #fff;
}

 .footer {
  height: 152px; 
  position: relative;
 }

 .logo__footer {
  display: block;
  position: absolute;
  top: 43px;
  left: 0px;
 }

 .menu__footer {
  position: absolute;
  top: 54px;
  left: 165px;
}

.contacts__footer {
  position: absolute;
  top: 45px;
  right: 0px;
  font-style: normal;
  text-align: right;
}

.contacts__footer-text {
  font-size: 11px;
}

.contacts__footer-phone {
  font-size: 26px; 
}





.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.socials {
  display: block;
  position: absolute;
  top: 46px;
  margin-left: 702px;
}

.socials__item:last-child {
  margin-right: 0;
}



.socials__link {
  display: block;
  width: 36px;
  height: 36px;
  position: relative;
}

.socials__link:hover::after {
  opacity: 0;
}

.socials__link::after, 
.socials__link::before
 {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  transition: .5s;
 }

 .socials__link--telegram::after {
  background-image: url('/img/telegram.png');
 }
 .socials__link--telegram::before {
  background-image: url('/img/tx.png')
 }


 .socials__link--vk::after {
  background-image: url('/img/vk.png');
 }
 .socials__link--vk::before {
  background-image: url('/img/vk-hover.png')
 }


 .socials__link--face::after {
  background-image: url('/img/face.png');
 }
 .socials__link--face::before {
  background-image: url('/img/face-hover.png')
 }

 .socials__link--in::after {
  background-image: url('/img/in.png');
 }
 .socials__link--in::before {
  background-image: url('/img/in-hover.png')
 }