.how {
  justify-content: center;
    margin-bottom: 50px;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
}
  .how__player-wrapper {
    width: rem(1800px);
    height: rem(950px);
    max-width: 100%;

  @include laptops {
    width: rem(1400px);
    height: rem(800px); 
  }  
  @include laptops-md {
    width: rem(1200px);
    height: rem(670px); 
  }   
  @include laptops-sm {
    width: rem(992px);
    height: rem(500px); 
  }   
  @include tablets {
    width: rem(768px);
    height: rem(420px); 
  }   
  @include tablets-sm {
    width: rem(576px);
    height: rem(320px); 
  } 
  @include phones {
    width: rem(480px);
    height: rem(270px); 
  } 
}
