.socials__icon-telegram {
  fill: #279EDA;
}
.socials__icon-whatsapp {
fill: #31D652;
}
.socials__icon-phone {
  fill: $black;
}
.socials__icon-menu {
fill: $black;
border: rem(1px) solid $color;
border-radius: 20%;
display: none;

@include laptops-md {
display: block;
}}