.decs-block-title {
  padding: rem(50px) 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
h2.title-block-catalog-w {
  font-size: rem(25px);
  font-style: normal;
  font-weight: 700;
  background: #ffffff;
  color: #181617;
  padding: rem(3px) rem(10px);
  margin-bottom: rem(10px);

  @include phones {
    font-size: rem(22px);
  }}
h2.title-block-catalog-w-b {
  color: white;
  font-size: rem(25px);
  font-style: normal;
  font-weight: 500;

  @include phones {
    font-size: rem(22px);
  }}

ul.catalog__list {
  display: flex;
  justify-content: center;
  margin-bottom: rem(100px);
  @include laptops-md {
    flex-direction: column;
    align-items: center;
    gap: rem(50px);
    margin-bottom: rem(50px);
  }}
li.catalog__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h3.title-catalog {
  font-size: rem(20px);
  font-style: normal;
  font-weight: 600;
  text-align: center;

  @include phones {
    font-size: rem(18px);
  }}
.stroke {
  border-bottom: 0.5px solid var(--unnamed, #3a0b46);
  padding-bottom: rem(20px); 
  max-width: rem(361px); 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(10px);

  @include phones {
    gap: rem(5px);
    padding-bottom: rem(15px); 
  }}
  .catalog-lock {
    display: flex;
    flex-direction: column;
    align-items: center;
}