svg.advantages-icon {
  max-width: rem(50px);
  max-height: rem(50px);

  @include phones {
    max-width: rem(40px);
    max-height: rem(40px);
}}
ul.advantages__list {
  display: flex;
  gap: rem(30px);
  color: white;
  justify-content: center;
  flex-wrap: wrap;
}
li.advantages__item {
  background: $color;
  display: flex;
    flex-direction: column;
    align-items: center;
    padding: rem(25px);
    border-radius: rem(3px);
    gap: rem(20px);
}
h3.title-advantage {
  font-size: rem(20px);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: rem(291px);
  text-align: center;

  @include phones {
    font-size: rem(18px);
    max-width: rem(262px);
  }}
  .container.container__advantages-content {
    padding: rem(50px) 0;
    background: #FFF;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.15);
    max-width: 1920px;
}
ul.advantages-desc__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
li.advantages-desc__item {
  display: flex;
  max-width: rem(368px);
  padding: rem(10px) rem(20px);
  flex-direction: column;
  align-items: center;
  gap: rem(20px);
  border-right: 0.5px solid var(--unnamed, #3a0b46);
  @include phones {
    border-right: initial;
    padding: rem(10px) rem(15px);
}}
h3.title-advantage.title-advantage__desc {
  max-width: rem(323px);
  color: $hover;
}