.btn {
  background: $color;
  border-radius: rem(3px);
  padding: rem(15px) rem(25px);
  font-size: rem(27px);
  font-weight: 700;
  text-decoration: none;
  display: block;
  text-align: center;
  color: #ffffff;

@include phones {
  font-size: rem(20px);
  padding: rem(10px) rem(20px); 
}}
.btn:hover {
  background: $hover;
}
.button {
  background: transparent;
  border: none;
  cursor: pointer;
}
  .button__close {
    position: absolute;
    top: rem(42px);
    right: rem(42px);
  }