.container.footer__conteiner {
  max-width: rem(1920px);
  background: var(--unnamed, linear-gradient(180deg, #231D37 0%, #231D37 5.73%, #231D37 11.46%, #231D37 21.88%, #231D37 35.05%, #231D37 38.66%, #231D37 47.16%, #4C1F72 100%));
  color: white;
  padding: rem(50px);
  margin: 0;
}
svg.logo.logo__footer {
  fill: white;
&:hover {
  fill: #7037A0;
  transition: 1s;
}}
.footer-block {
  gap: rem(50px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
ul.menu__list.menu__list-footer {
  flex-wrap: wrap;
  justify-content: center;

  @include tablets {
  flex-direction: column;
    gap: 15px;
  }}
  a.call:hover {
    background: #7037A0;
    }