.header {
  position: fixed;
  width: 100%;
  background: #FFF;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.15); 
  z-index: 999;  
 }
 .header__conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(30px) rem(50px);

 @include tablets-sm {
  flex-direction: column;
 }}
 .header__left {
  display: flex;
  align-items: center;
  gap: rem(60px);
}
 .header__right {
  display: flex;
  align-items: center;
 }
 .logo {
  width: rem(232px);
  height: rem(40px);
  fill: $black; 
  &:hover {
    fill: $hover;
    transition: 1s;
  }}