.socials__list {
  display: flex;
  gap: rem(30px);
}
.socials__list-footer {
  gap: rem(20px);

  @include tablets-sm {
    gap: rem(30px);
  }}
.socials__list-header {
  @include tablets-sm {
    margin-top: rem(30px);
  }}
.socials__icon {
  width: rem(30px);
  height: rem(30px);
  &:hover {
    fill: $hover;
    transition: 1s;
  }}
.socials__item-footer {
  display: none;
  @include laptops {
display: block;
  }}
.socials__item-header {
  display: none;
   @include laptops-md {
  display: block;
  }}