.about {
  padding: 147px 0 78px 0;
}

.about__content {
 display: flex;
 flex-direction: column;
  border-radius: 5px;
  max-width: 793px;
  background-image: url("../../img/mountains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 69px 202px 65px 89px;
  margin-left: 344px;
  vertical-align: top;
  margin-top: -418px;
 }

 .about__title {
  margin-bottom: 37px;
  font-size: 36px;
  font-weight: bold;
 }

 .about__desc {
  margin-bottom: 42px;
  font-size: 16px;
  line-height: 27px;
  color: #060606;
 }

 .about__conteiner::before {
  content: '';
  display: flex;
  width: 490px;
  height: 505px;
  background-image: url('../../img/gates.jpg');
  border-radius: 5px;
 }

 .about__title--color--black {
  color: #000;
 }