.btn {
  background: #F5170E;
  border-radius: 34px;
  padding: 18px 40px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-self: flex-start;
}

.btn:hover {
  background-color: #7e0d0d;
  transition: 1s;
}


.btn--transparent {
  background: #fff;
  color: red;
  border-radius: 34px;
  padding: 18px 29px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-self: flex-start;
  border: 1px solid red;
}

.btn__red {
  background: #F5170E;
  color: #fff;
  border-radius: 34px;
  padding: 18px 29px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-self: flex-start
}

.btn__red:hover {
  background-color: #7e0d0d;
  transition: 1s;
}