.contacts {
  font-style: normal;
  position: relative;
}

.contacts_conteiner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contacts__dropdown-title:hover {
  text-decoration: underline;
}

.contacts__text {
  font-size: 11px;
}

.contacts_phone {
  text-decoration: none;
  font-size: 26px;
}
.contacts__dropdown-title {
  font-size: 13px;
  text-decoration: none;
  position: relative;
 display: inline-block;
}
