.footer {
  height: 152px; 
  position: relative;
 }

.footer__conteiner {
  border-top: 1px solid rgba(255, 255, 255, .1);
  padding-top: 27px;
  display: flex;
  justify-content: space-between;
}

.footer__right {
  display: flex;
  align-items: center;
}

.footer__menu {
  margin-left: 79px;
}

.footer__left {
  display: flex;
  align-items: center;
 }
