.header {
  position: relative;
  margin-bottom: 120px;
  padding-top:26px ;
 }

 .header__conteiner {
  display: flex;
  justify-content: space-between;
 }

 .header__left {
  display: flex;
  align-items: center;
 }

 .header__right {
  display: flex;
  align-items: center;
 }

 .header__menu {
  margin-left: 79px;
  }
