.paginator {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginator__title, .paginator__list {
  display: flex;
}

.paginator__title {
  margin-right: 24px;
}

.paginator__item {
  display: flex;
}

.paginator__item--active .paginator__link_white {
  background: #fff;
  color: red;
}


.paginator__link_red {
  background: red;
  color: #fff
}

.paginator__link {
  display: block;

  border-radius: 50%;
  position: relative;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
 padding-inline: 11px;
}

.paginator__link:hover {
  color: #F5170E;
  transition: 1s;
}